*.lo
*.o
.deps/
.libs/
.vs/
.idea/
/aclocal.m4
/autom4te.cache
/config.h.in
/config.h
/config.log
/config.status
/configure
/Makefile.in
/Makefile
/stamp-h1
/VERSION
autom4te.cache/
assuan/Makefile.in
assuan/Makefile
curses/Makefile.in
curses/Makefile
doc/Makefile.in
doc/Makefile
doc/pinentry.info
doc/stamp-vti
doc/version.texi
efl/Makefile.in
efl/Makefile
fltk/Makefile.in
fltk/Makefile
gtk+-2/Makefile.in
gtk+-2/Makefile
gnome3/Makefile.in
gnome3/Makefile
pinentry/Makefile.in
pinentry/Makefile
pinentry/*.a
qt*/Makefile.in
qt*/Makefile
qt*/icons/Makefile.in
qt*/icons/Makefile
qt*/org.gnupg.pinentry*.desktop
tqt/Makefile.in
tqt/Makefile
secmem/Makefile.in
secmem/Makefile
secmem/*.a
w32/Makefile.in
w32/Makefile
w32/*.exe
w32/RC??????
tty/Makefile.in
tty/Makefile
/qt/pinentryconfirm.moc
/qt/pinentrydialog.moc
/qt/qsecurelineedit.moc
m4/Makefile.in
m4/Makefile
emacs/Makefile.in
emacs/Makefile
