/* dialog.rc - Resource definitions                             -*- c -*-
 * Copyright (C) 2004, 2010 g10 Code GmbH
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, see <https://www.gnu.org/licenses/>.
 * SPDX-License-Identifier: GPL-2.0+
 */

#include <config.h>
#include <windows.h>
#include "resource.h"
#include "version.h"

IDB_ICON_32     BITMAP  DISCARDABLE "logo-32.bmp"
IDB_ICON_48     BITMAP  DISCARDABLE "logo-48.bmp"
IDB_ICON_64     BITMAP  DISCARDABLE "logo-64.bmp"
IDB_ICON_96     BITMAP  DISCARDABLE "logo-96.bmp"
IDB_ICON_128    BITMAP  DISCARDABLE "logo-128.bmp"

// application icon (TODO, create icon)
IDI_MAIN_ICON   ICON    "res/pinentry.ico"

// bitmaps
IDB_DIALOG_LOGO BITMAP  "res/dialogLogo.bmp"

// application manifest
1   RT_MANIFEST "res/app.manifest"

// main dialog
IDD_PINENT DIALOGEX 0, 0, 240, 94
STYLE DS_SYSMODAL | DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Pinentry"
FONT 9, "Microsoft Sans Serif", 400, 0, 0xCC
BEGIN
    CONTROL         IDB_DIALOG_LOGO, IDC_PINENT_ICON, "Static", SS_BITMAP | SS_CENTERIMAGE, 4, 4, 32, 49
    LTEXT           "", IDC_PINENT_DESC, 39, 4, 197, 29
    LTEXT           "", IDC_PINENT_PROMPT, 39, 37, 42, 12
    EDITTEXT        IDC_PINENT_TEXT, 83, 37, 153, 12, ES_PASSWORD | ES_AUTOHSCROLL
    CTEXT           "", IDC_PINENT_ERR, 4, 53, 232, 12
    DEFPUSHBUTTON   "O&K", IDOK, 126, 76, 54, 14
    PUSHBUTTON      "&Cancel", IDCANCEL, 182, 76, 54, 14
END

/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_PINENT, DIALOG
    BEGIN
        LEFTMARGIN, 4
        RIGHTMARGIN, 236
        VERTGUIDE, 36
        VERTGUIDE, 39
        VERTGUIDE, 81
        VERTGUIDE, 83
        TOPMARGIN, 4
        BOTTOMMARGIN, 90
        HORZGUIDE, 33
        HORZGUIDE, 37
        HORZGUIDE, 53
    END
END
#endif    // APSTUDIO_INVOKED

#ifndef APSTUDIO_INVOKED
#include "res/pinentry-w32.rc2"  // non-Microsoft Visual C++ edited resources
#endif  // not APSTUDIO_INVOKED
